.score-display {
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  color: #fff;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffffff; // vert
    font-family: 'Dala Moa Web Medium Regular';

  }

  .score {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
  }

  .score-appreciation {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    text-align: center;
    color: #f0f0f0;
    font-style: normal; // Par défaut, pas d'italique
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0; // Initialement invisible pour l'animation
    line-height: 1.5;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    // Utilise un pseudo-élément pour appliquer l'italique juste au texte
    &::before {
      content: "";
      font-style: italic;
    }
  }

  .score-buttons {
    font-family: 'Dala Moa Web Medium Regular';
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-label {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .icon-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
      background-color: #6a6666
    }
  }
  .levitating {
    animation: levitate 1.5s ease-in-out infinite;

  }
  .copy-message {
    margin-top: 2rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    animation: fadeInOut 2s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    90%  { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes levitate {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-4px); }
    100% { transform: translateY(0); }
  }

}

@media (max-width: 768px) {
  .score-display {
    margin-left: 2rem;
    margin-right: 2rem;

    h2 {
      font-size: 2rem;
    }

    .score {
      font-size: 2rem;
    }

    .score-appreciation {
      font-size: 1.5rem;
      max-width: 90%;
    }

    .button-label {
      font-size: 1rem;
      height: 2rem;
    }

    .icon-button {
      width: 50px;
      height: 50px;
      font-size: 1.2rem;
    }
  }
  .copy-message {
    font-size: 0.8rem;
  }
  .score-buttons {
    gap: 1rem;
  }
  .button-column {
    align-items: center;
  }
  .button-label {
    margin-bottom: 1rem;
  }
}
