
.question-display-container {
  background-color: #006B80;
  padding: 0rem 4rem;
  margin-bottom: 2rem;

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}

.question-text{
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}
