.next-button-container {
  background-color: #006B80;

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}

.next-button {
  font-size: 1.25rem;
  font-family: 'Dala Moa Web Medium Regular';
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 1rem auto;
  display: block;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #333;
  }
}
