.footer-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; // Pour centrer le contenu verticalement
  height: 40vh;
  background-color: #006B80;
}
