.answer-buttons {
  background-color: #006B80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.answer-button {
  padding: 1.5rem;
  font-size: 1rem;
  text-align: left; // Ajoute cette ligne pour aligner le texte à gauche
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover:not(:disabled) {
    background-color: #f0f0f0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.correct {
    background-color: #4caf50;
    color: white;
  }

  &.wrong {
    background-color: #f44336;
    color: white;
  }

  &.highlight-correct {
    background-color: #4caf50;
    color: white;
  }

}

.answer-button.selected {
  border: 2px solid white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.answer-button {
  justify-content: left;
}

// Animation de clignotement pour la bonne réponse
@keyframes blink {
  0% { background-color: #4CAF50; } /* Vert */
  50% { background-color: #e0e0e0; } /* Gris */
  100% { background-color: #4CAF50; } /* Vert */
}

.answer-button.blinking {
  animation: blink 0.3s ease-in-out 3; /* 3 clignotements de 0.3s chacun */
  color: white !important; /* Ajoute !important pour garantir la priorité */
}
